html
  head
    title= title
  body
    h1= 'Welcome to Open Integrations App - shop: ' + shopurl
    table
      tr 
        th(style="border-bottom: 2px solid red;") Shopify
        th(style="border-bottom: 2px solid red;border-left: 2px solid red;") tiktok
        th(style="border-bottom: 2px solid red;border-left: 2px solid red;") lazada
      tr
        td
          a(id="a-shopify-products" href='#') products
          br
          a(id="a-shopify-reindex-products" href='#') re-index products
          br
          a(id="a-shopify-indexed-products" href='#') indexed products
        td(style="border-left: 2px solid red;")
          a(id="a-tiktok-products" href='#') products
        td(style="border-left: 2px solid red;")
          a(id="a-lazada-products" href='#') products
    br
    h2 output console
    hr

div(id="jquerydiv")

script(src="https://code.jquery.com/jquery-3.5.1.min.js")
script. 

  $( document ).ready(function() {
    $("#a-shopify-products").click( function(e) {
      fetchShopifyProducts("#{shopurl}");
    });
    $("#a-shopify-indexed-products").click( function(e) {
      fetchShopifyIndexedProducts("#{shopurl}");
    });
    $("#a-shopify-reindex-products").click( function(e) {
      reindexShopifyProducts("#{shopurl}");
    });
    $("#a-tiktok-products").click( function(e) {
      fetchTiktokProducts("#{shopurl}");
    });
    $("#a-lazada-products").click( function(e) {
      fetchLazadaProducts("#{shopurl}");
    });
  });

  function fetchShopifyProducts(shopurl){
    console.log("fetchShopifyProducts");
    $.get( "/api/shopify/products?shop="+shopurl, function( data ) {
      $( "#jquerydiv" ).html("<H2>Shopify Products</H2>");
      data.products.forEach(product => {
        $( "#jquerydiv" ).append("<p>title:" + product.title + "</p>");
      });
    });
  };

  function reindexShopifyProducts(shopurl){
    console.log("reindexShopifyProducts");
    $.get( "/api/shopify/products/index?shop="+shopurl, function( data ) {
      $( "#jquerydiv" ).html("<H2>ReIndexed Shopify Products</H2>");
    });
  };
  function fetchShopifyIndexedProducts(shopurl){
    console.log("fetchShopifyIndexedProducts");
    $.get( "/api/products?shop="+shopurl, function( data ) {
      $( "#jquerydiv" ).html("<H2>Shopify Indexed Products</H2>");
      data.products.forEach(product => {
        $( "#jquerydiv" ).append("<p>title:" + product.title + "</p>");
      });
    });
  };
  function fetchTiktokProducts(shopurl){
    console.log("fetchTiktokProducts");
    $.get( "/api/tiktok/products", function( data ) {
      $( "#jquerydiv" ).html("<H2>Tiktok Products</H2>");
      data.products.forEach(product => {
        $( "#jquerydiv" ).append("<p>name:" + product[0].name + "</p>");
      });
    });
  };
  function fetchLazadaProducts(shopurl){
    console.log("fetchLazadaProducts");
    $.get( "/api/lazada/products", function( data ) {
      $( "#jquerydiv" ).html("<H2>Lazada Products</H2>");
      data.products.forEach(product => {
        $( "#jquerydiv" ).append("<p>name:" + product[0].attributes.name + "</p>");
      });
    });
  };
